.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4vw;
  background-color: #14171A;

  color: white;
  font-family: "Barlow", sans-serif;
}

.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul li{
    margin-right: 2vw;
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all 0.8s ease;
}
.nav-bar ul li a:hover{
    color: #1DA1F2;
}
.nav-bar ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1DA1F2;
    transition: width 0.8s;
}

.nav-bar ul li a:hover::after {
    width: 100%;
}