html{
  scroll-behavior: smooth;
}
body{
background-color: #021526e0;
}

.home{
    height: 65vh;
    border-radius: 3px;
    margin: 3em;

    background-color: #6EACDA;
    font-family: "Barlow", sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    }


.home-content h1{
    font-size: 3em;
    margin-bottom: 0;
   
   
}
.home-content h4{
    font-style: italic;
    font-size: 2em;
    margin-left: 5px;

}
.home-content p{
    margin: 5vh 0vw;
    font-size: 1.5em;
    word-spacing: 5px;
    line-height: 50px;
}
.home-content{
    margin: 0;
    padding: 3vh 5vw;
}
.home-image{
padding: 3vh 0vw;
}
.home-image img{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5vw;
    margin-top: 3vh;
    
}

/* end of home */
.about{
    border-radius: 3px;
    margin: 15vh 3em 3em 3em;

    background-color: #6EACDA;
    font-family: "Barlow", sans-serif;
    color: white;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Centers text inside the container */
    padding: 3vh 5vw;   

    }

 .about-content ul{
    display: flex;
    justify-content: space-evenly;
    text-align: start;
   
  }
 .about-content ul  li{
    text-decoration: none;
    list-style-type: none;}


  .services {
        font-family: "Barlow", sans-serif;
        color: white;
        background-color: #6EACDA;
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        text-align: center; /* Centers text inside the container */
        padding: 3vh 5vw;            
        margin: 15vh 3em 3em 3em;    
        border-radius: 3px; 
      }

  .service-list{
    text-align: start;
    display: flex;
    justify-content: center;
    
  }

  
  .service-list li{
    text-decoration: none;
    list-style: none;
  }
  
  .project-list ul{
    display: flex;
    border: 2px solid white;
    justify-content: space-evenly;
  }
  .project-list li{
   text-decoration: none;
   list-style: none;
   display: flex;
   justify-content: space-evenly;
   margin: 5vh 10px;
  }

  .project-list-content img{
    max-height: 50vh;
    max-width: 100%;
    border: solid 2px white;
  }

  .contact {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Centers text inside the container */
    padding: 3vh 5vw;          
    border-radius: 3px;
    margin: 15vh 3em 3em 3em;
    background-color: #6EACDA;
    font-family: "Barlow", sans-serif;
    color: white;       
  }

